<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${requestBook.name}">Title</title>
    <!--  css  -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/form-elements.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <!--  end css  -->
    <style>
        #main-part {
            width: 60%;
            margin: 150px auto;
        }

        pre {
            white-space: pre-wrap; /* css3.0 */
            white-space: -moz-pre-wrap; /* Firefox */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
            background-color: #c7edcc;
        }
    </style>
</head>
<body style="background-color: rgba(229,229,229,0.7)">
<!---start-header---->
<div class="header" style="background-color: #eeebcc">
    <div class="wrap">
        <div class="logo">
            <a th:href="@{/index}"><img th:src="@{/images/logo.png}" title="BookShop"/></a>
        </div>
        <div style="float: left;margin-top: 8px;margin-left: 50px">
            <a th:href="@{/index}" style="font-size: 31px;line-height: 31px;color: dodgerblue;font-weight: bold">啥都没有网上书城</a>
        </div>
        <div class="userinfo" style="margin-right: 10%">
            <div class="user">
                <ul style="margin-bottom: 0">
                    <li th:switch="${session.state}">
                        <a th:case="0" th:href="@{/login}">
                            <img th:src="@{/images/user-pic.png}" title="user-name"/>
                            <span th:text="请登录"></span>
                        </a>
                        <a th:case="1" th:href="@{/index}">
                            <img th:src="@{/images/user-pic.png}" title="user-name"/>
                            <span th:text="${session.user.name}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!---//End-header---->
<div id="main-part">
    <div class="panel panel-info"
         style="-webkit-box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.4);-moz-box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.4);box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.4);">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="${requestBook.name}" style="font-size: 20px;font-weight: bolder">Panel
                title</h3>
            <span th:text="${currentPage}"></span>
            <span>/</span>
            <span th:text="${totalPage}"></span>
            <span>页</span>
        </div>
        <div class="panel-body"
             style="font-size: 20px;font-family:'Times New Roman';background-color: #c7edcc;">
            <pre th:text="${bookContent}"></pre>
        </div>
    </div>
    <nav aria-label="Page navigation" style="float: right">
        <ul class="pagination">
            <li>
                <a th:if="${hasPrev}" th:href="@{/book/read(pageNum = ${prev},bookId = ${requestBook.id})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="p : ${#numbers.sequence(startPage,endPage)}"><a
                    th:href="@{/book/read(pageNum = ${p},bookId = ${requestBook.id})}" th:text="${p}"></a></li>
            <li>
                <a th:if="${hasNext}" th:href="@{/book/read(pageNum = ${next},bookId = ${requestBook.id})}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.backstretch.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
