<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${requestBook.name}">Title</title>
</head>
<body>
<form th:action="@{/book/add}" method="post" enctype="multipart/form-data">
    <label>书籍名称:</label>
    <input th:name="name" type="text"><br>
    <label>书籍简介:</label>
    <input th:name="description" type="text"><br>
    <label>书籍文件(txt):</label>
    <input name="file" type="file"><br>
    <input type="submit" value="确认">
</form>
</body>
</html>
